# Unsupervised Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**Team NM4**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

Team Members
1. Bakwe Chokoe
2. Hlawulekani Rikhotso
3. Tshepiso Ngwato
4. Benson Kamau
5. Nozipho
6. Mutondi Tshivhase
### Predict Overview

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Introduction</a>

<a href=#two>2. Problem Statement</a>

<a href=#three>3. Importing Packages</a>

<a href=#four>4. Loading Data</a>

<a href=#five>5. Pre-processing</a>

<a href=#six>6. Exploratory Data Analysis (EDA)</a>

<a href=#seven>7. Data Engineering</a>

<a href=#eight>8. Modeling</a>

<a href=#nine>9. Model Performance</a>

<a href=#ten>10. Model Explanations</a>

<a href=#eleven>11. Conclusion</a>

 <a id="one"></a>
## **1. Introduction**

In [ ]:
# Write the introduction

 <a id="one"></a>
## 2. Problem Statement
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Problem Statement ⚡ |
| :--------------------------- |
| In this section you are required to introduce and elaborate on the problem statement or challenge you are required to solve. |

In [ ]:
# Discuss the problem statement

 <a id="one"></a>
## 3. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Libraries for data preparation and model building
#import *

# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

<a id="two"></a>
## 4. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

In [2]:
# load the dataframe from the given dataset
df_train =pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\train.csv')
df_genome_tags=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\genome_tags.csv')
df_movies=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\movies.csv')
df_links=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\links.csv')
df_genome_scores=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\genome_scores.csv')
df_tags=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\tags.csv')
df_imdb_data=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\imdb_data.csv')

<a id="two"></a>
## 5. Pre-processing
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

### Viewing the shape of the dataframes

Here we are just having a view of the shape of varoius dataframes in our dataset i.e.
 - df_imdb_data
 - df_genome_tags
 - df_genome_scores
 - df_train
 - df_links
 - df_movies
 - df_tags

In [3]:
# Pre-process the data
df_train.shape

(10000038, 4)

In [4]:
df_genome_tags.shape

(1128, 2)

In [5]:
df_genome_scores.shape

(15584448, 3)

In [6]:
df_tags.shape

(1093360, 4)

In [7]:
df_links.shape

(62423, 3)

In [8]:
df_movies.shape

(62423, 3)

In [9]:
df_imdb_data.shape

(27278, 6)

### Checking for null values in the various dataframes in the given  dataset

Here in this sections we will be checking for `null values ` in the various dataframes in the data set i.e.
 - df_imdb_data
 - df_genome_tags
 - df_genome_scores
 - df_train
 - df_links
 - df_movies
 - df_tags

In [10]:
#checking for null in imdb dataframe
df_imdb_data.isnull().sum()

movieId              0
title_cast       10068
director          9874
runtime          12089
budget           19372
plot_keywords    11078
dtype: int64

In [11]:
#checking for null in genome tags dataframe
df_genome_tags.isnull().sum()

tagId    0
tag      0
dtype: int64

In [12]:
#checking for null in genome score dataframe
df_genome_scores.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [13]:
#checking for null in train dataframe
df_train.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [14]:
#checking for null in links dataframe
df_links.isnull().sum()

movieId      0
imdbId       0
tmdbId     107
dtype: int64

In [15]:
#checking for null in tags dataframe
df_tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [16]:
#checking for null in movies dataframe
df_movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [17]:
df_tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [18]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
df_genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [20]:
df_genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [21]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [22]:
df_train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [23]:
df_imdb_data.head()

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion

In [24]:
from datetime import datetime
import re
#function for formating time
def formattime(t):
    time=datetime.utcfromtimestamp(t).strftime('%Y-%m-%d %H:%M:%S')
    return time
 #function extracting number   
def extract_number(n):
    number = "".join([ch for ch in n if ch.isdigit()])
    return number
 # functon for extracting clean string from our title column   
def extract_string(n):
    brackets=['(',')']
    string = "".join([ch for ch in n if not ch.isdigit() and ch not in brackets])
    return string
 #this function will split the text by |   
def split_text(n):
    text_split = " ".join(n.split("|"))
    return text_split

In [25]:
df_movies['clean_genres']=df_movies['genres'].apply(split_text)

In [26]:

df_movies['title_year']=df_movies['title'].apply(extract_number)
df_movies['title_string']=df_movies['title'].apply(extract_string)

In [27]:
df_genome_tags.dtypes

tagId     int64
tag      object
dtype: object

In [28]:
df_train['f_time']=df_train['timestamp'].apply(formattime)

In [30]:
#df_movies=df_movies.drop(['title_string_clean'],axis=1)

In [31]:
df_movies.head()

,movieId,title,genres,clean_genres,title_year,title_string
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure Animation Children Comedy Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure Children Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy Drama Romance,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,Comedy,1995,Father of the Bride Part II

In [32]:
df_tags['f_time_tag']=df_tags['timestamp'].apply(formattime)

In [33]:
# drop null values in tags and links dataframe
df_tags=df_tags.dropna()
df_links=df_links.dropna()

In [34]:
df_imdb_data.isnull().sum()

movieId              0
title_cast       10068
director          9874
runtime          12089
budget           19372
plot_keywords    11078
dtype: int64

In [35]:
# we will drop the columns with more than 50% null values in the imdb_data dataframe
#here we are checking the number of null values in columns
val=df_imdb_data[df_imdb_data.columns[0]].count()
for col in df_imdb_data.columns:
    na =df_imdb_data[col].isnull().sum()
    per_na=round(na/val*100,2)
    print(f"The percent of null values in {col} is {per_na}")

The percent of null values in movieId is 0.0
The percent of null values in title_cast is 36.91
The percent of null values in director is 36.2
The percent of null values in runtime is 44.32
The percent of null values in budget is 71.02
The percent of null values in plot_keywords is 40.61

In [36]:

df_imdb_data=df_imdb_data.drop('budget', axis=1)

In [37]:
df_imdb_data = df_imdb_data.replace(' ', np.nan)                   # to get rid of empty values
nan_value = df_imdb_data[df_imdb_data.isna().any(axis=1)]         # to get all rows with Na

nan_value

,movieId,title_cast,director,runtime,plot_keywords
29,30,Li Gong|Baotian Li|Xiaoxiao Wang|Xuejian Li|Ch...,Feiyu Bi,NaN,NaN
76,77,Nico|Tina Aumont|Christian Päffgen|Edith Boulo...,Susanne Ofteringer,NaN,f rated|female musician|singer songwriter|inte...
107,109,Raymond J. Barry|Rustam Branaman|Jennifer MacD...,James Bruce,NaN,topless bar|topless|stripper|jeans
109,111,NaN,NaN,NaN,NaN
117,119,Andy Garcia|Alan Arkin|Rachel Ticotin|Joe Pant...,Andrew Davis,NaN,lawyer|estate|twin brother|brother brother rel...
...,...,...,...,...,...
27261,131172,Kambuzia Partovi|Maryam Moghadam|Jafar Panahi|...,Jafar Panahi,106.0,NaN
27265,131231,Jessica Paré|Brian Gleeson|Stanley Townsend|Fr...,Rob Burke,90.0,NaN
27267,131239,Elmar Wepper|Mercan-Fatima Türköglu|Ivan Ander...,Christian Zübert,NaN,taxi|girl alone|taxi driver|mutual understanding
27270,131248,Patrick Dempsey|Mandy Moore|Jeremy Suarez|Rick...,Rich Burns,NaN,bear|finale|series finale|hate
27271,131250,Daniel Brühl|Jasmin Schwiers|Niels-Bruno Schmi...,Marco Petry,NaN,hot|sex scene

In [38]:
#checking the number of null values in each row
row_na=nan_value.isnull().sum(axis=1)
row_na

29       2
76       1
107      1
109      4
117      1
        ..
27261    1
27265    1
27267    1
27270    1
27271    1
Length: 13206, dtype: int64

In [39]:
df=df_imdb_data.director.nunique()

In [40]:
df_imdb_data[df_imdb_data.isin(['Christian Zübert']).any(axis=1)]

,movieId,title_cast,director,runtime,plot_keywords
7518,7843,Lucas Gregorowicz|Moritz Bleibtreu|Marie Zielc...,Christian Zübert,NaN,law student|marijuana|reference to erika eleni...
16471,83260,Lucas Gregorowicz|Wotan Wilke Möhring|Justus v...,Christian Zübert,88.0,author|gangster|biographer
24365,115465,Florian David Fitz|Julia Koschitz|Jürgen Vogel...,Christian Zübert,95.0,belgium|friend|bungee jump|assisted dying
27267,131239,Elmar Wepper|Mercan-Fatima Türköglu|Ivan Ander...,Christian Zübert,NaN,taxi|girl alone|taxi driver|mutual understanding

In [42]:
#df[df.isin(['Rich Burns']).any(axis=1)]

In [43]:

df_imdb=df_imdb_data

#Removing rows with more than 2 null values from our data
max_null_values = 2
rows_to_remove = []
for index, row in df_imdb.iterrows():
    if row.isnull().sum() > max_null_values:
        rows_to_remove.append(index)

#df_cleaned = rows_to_remove #nan_values.drop(rows_to_remove)
df_imdb_clean=df_imdb.drop(rows_to_remove,axis=0)
df_imdb_clean

,movieId,title_cast,director,runtime,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,fatherhood|doberman|dog|mansion
...,...,...,...,...,...
27273,131254,Franz Dinda|Florian Lukas|Axel Stein|Kailas Ma...,Carsten Funke,85.0,man wrapped in a towel|man wears a thong|male ...
27274,131256,Rick Kavanian|Axel Stein|Eva Habermann|Christo...,Matthias Dinter,83.0,ski|ski resort|ampersand in title|drink in title
27275,131258,Nam-gil Kim|Ye-jin Son|Hae-Jin Yoo|Kyeong-yeon...,Seong-il Cheon,130.0,pirate|sword fight|korea|bandit
27276,131260,Martti Suosalo|Ilkka Koivula|Vexi Salmi|Riitta...,Timo Koivusalo,102.0,friend|friendship|television show|restaurant
27277,131262,Sophie Lane Curtis|Kelly Reilly|Graham Phillip...,Hilary Brougher,96.0,hex|witch|virgin|blood

In [44]:
# Replace NaN values in 'runtime' with the average runtime for each director
df_imdb_clean['runtime'] = df_imdb_clean.groupby('director')['runtime'].transform(lambda x: x.fillna(x.mean()))
# Replace NaN values in 'title_cast' with the mode for each director
df_imdb_clean['title_cast'] = df_imdb_clean.groupby('director')['title_cast'].transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else np.nan))
df_imdb_clean

,movieId,title_cast,director,runtime,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,fatherhood|doberman|dog|mansion
...,...,...,...,...,...
27273,131254,Franz Dinda|Florian Lukas|Axel Stein|Kailas Ma...,Carsten Funke,85.0,man wrapped in a towel|man wears a thong|male ...
27274,131256,Rick Kavanian|Axel Stein|Eva Habermann|Christo...,Matthias Dinter,83.0,ski|ski resort|ampersand in title|drink in title
27275,131258,Nam-gil Kim|Ye-jin Son|Hae-Jin Yoo|Kyeong-yeon...,Seong-il Cheon,130.0,pirate|sword fight|korea|bandit
27276,131260,Martti Suosalo|Ilkka Koivula|Vexi Salmi|Riitta...,Timo Koivusalo,102.0,friend|friendship|television show|restaurant
27277,131262,Sophie Lane Curtis|Kelly Reilly|Graham Phillip...,Hilary Brougher,96.0,hex|witch|virgin|blood

In [45]:
# here we are filling the null values of title cast with director
df_imdb_clean['title_cast'] = df_imdb_clean['title_cast'].fillna(df_imdb_clean['director'])

#here we are filling runtime null values  with  mean runtime for the movies
df_imdb_clean['runtime'] = df_imdb_clean['runtime'].fillna(df_imdb_clean['runtime'].mean())

In [54]:
rows_with_more_than_2_null = df_imdb_clean[df_imdb_clean.isnull().sum(axis=1) >= 2]
rows_with_more_than_2_null

,movieId,title_cast,director,runtime,plot_keywords
7942,8625,NaN,NaN,100.312998,whitewater rafting|prozac|peyote|watching a movie
12582,58994,NaN,NaN,100.312998,brazilian politics|latin american politics|pol...
12607,59136,NaN,NaN,100.312998,leukemia
14438,72300,NaN,NaN,100.312998,death|london ontario|childbirth|animal slaughter
14512,72653,NaN,NaN,100.312998,national film registry|villager|reverse footag...
15129,77177,NaN,NaN,100.312998,china|tv mini series
15719,79901,NaN,NaN,100.312998,artistic creation
16156,81700,NaN,NaN,100.312998,long take|clouds|sky
18012,90319,NaN,NaN,100.312998,silent film documentary|life of a ship|toledo ...
18483,92128,NaN,NaN,100.312998,city symphony|surrealism|absurdism
18812,93652,NaN,NaN,100.312998,chicago illinois|welfare|public housing
19031,94735,NaN,NaN,100.312998,NaN
19032,94737,NaN,NaN,100.312998,boy|diving|native hawaiian|swimmer
20295,99764,NaN,NaN,100.312998,stick figure|experimental|mental health|narration
20551,100583,NaN,NaN,100.312998,experimental film
20599,100948,NaN,NaN,100.312998,autopsy|forensics|silent|wordless
21746,105191,NaN,NaN,100.312998,underground film|avant garde|alternative
21911,105776,NaN,NaN,100.312998,scientist|mad scientist|experiment|science
22936,109571,NaN,NaN,100.312998,Documentary|Short|Adventure
22978,109715,NaN,NaN,100.312998,choice
23084,110097,NaN,NaN,100.312998,Animation|Short|Drama
23490,111809,NaN,NaN,100.312998,train|trainhopping|female protagonist|british
24069,114161,NaN,NaN,100.312998,end of mankind|statue of liberty|nuclear explo...
24081,114191,NaN,NaN,100.312998,dog|desert|water supply|transvestite
25406,120134,NaN,NaN,100.312998,dog|urine|flatulence|eugenics
25789,122157,NaN,NaN,100.312998,reference to muhammad|girl wears eyeglasses|mu...
26171,125940,NaN,NaN,100.312998,no music during end credits|nymph|satyr|no dia...
26403,126945,NaN,NaN,100.312998,fog
26409,126957,NaN,NaN,100.312998,glasgow scotland|edinburgh scotland|london eng...
26458,127058,NaN,NaN,100.312998,rebellious teenager|teenage angst|tokyo japan|...
26635,127881,NaN,NaN,100.312998,recycling|environmental issue|plastic
26779,128717,NaN,NaN,100.312998,Documentary

In [56]:
df_imdb_clean12=df_imdb_clean
df_imdb_clean12=df_imdb_clean12.dropna(subset=['director'])

In [67]:
df_imdb_clean12.isnull().sum()

movieId             0
title_cast          0
director            0
runtime             0
plot_keywords    1222
dtype: int64

In [63]:
df_movies.head()

,movieId,title,genres,clean_genres,title_year,title_string
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure Animation Children Comedy Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure Children Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy Drama Romance,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,Comedy,1995,Father of the Bride Part II

In [71]:
df_movies=df_movies
df_movies = df_movies.drop(['genres','title'], axis=1)
df_movies

,movieId,clean_genres,title_year,title_string
0,1,Adventure Animation Children Comedy Fantasy,1995,Toy Story
1,2,Adventure Children Fantasy,1995,Jumanji
2,3,Comedy Romance,1995,Grumpier Old Men
3,4,Comedy Drama Romance,1995,Waiting to Exhale
4,5,Comedy,1995,Father of the Bride Part II
...,...,...,...,...
62418,209157,Drama,2018,We
62419,209159,Documentary,2001,Window of the Soul
62420,209163,Comedy Drama,2018,Bad Poems
62421,209169,(no genres listed),2001,A Girl Thing
62422,209171,Action Adventure Drama,1962,Women of Devil's Island

In [99]:
#df_nogenre=df_m.loc[df_m['clean_genres'] == '(no genres listed)']
#df_nogenre
df_movies['clean_genres'] = df_movies['clean_genres'].replace(['(no genres listed)'], 'no_genre')
#df_movies['title_string'] = df_movies.apply(lambda row: '-'.join(row), axis=1)
df_movies

,movieId,clean_genres,title_year,title_string
0,1,Adventure Animation Children Comedy Fantasy,1995.0,Toy Story
1,2,Adventure Children Fantasy,1995.0,Jumanji
2,3,Comedy Romance,1995.0,Grumpier Old Men
3,4,Comedy Drama Romance,1995.0,Waiting to Exhale
4,5,Comedy,1995.0,Father of the Bride Part II
...,...,...,...,...
62418,209157,Drama,2018.0,We
62419,209159,Documentary,2001.0,Window of the Soul
62420,209163,Comedy Drama,2018.0,Bad Poems
62421,209169,no_genre,2001.0,A Girl Thing
62422,209171,Action Adventure Drama,1962.0,Women of Devil's Island

In [75]:
# Define a function to extract the year
def extract_year(number):
    number_str = str(number)
    year_str = number_str[-4:]
    return year_str

In [76]:
# Apply the function to the 'number_column' and create a new column 'extracted_year'
df_movies['title_year'] = df_movies['title_year'].apply(extract_year)

In [82]:
#CONVERTING THE datatype to int
df_movies['title_year'] = pd.to_numeric(df_movies['title_year'], errors='coerce')

In [78]:
#rows_with_null_plot_keyword = df_imdb_clean[df_imdb_clean['plot_keywords'].isnull()]
#rows_with_null_plot_keyword

#year_str = number_str[-4:]

In [79]:
# Select rows from df1 based on conditions in df2
#selected_rows = df_movies[df_movies['movieId'].isin(rows_with_null_plot_keyword['movieId'])]
#selected_rows

In [86]:
#working on datetime 
df_tags['f_time_tag'] = pd.to_datetime(df_tags['f_time_tag'])

# Split into year, month, and day columns
df_tags['year'] = df_tags['f_time_tag'].dt.year
df_tags['month'] = df_tags['f_time_tag'].dt.month
df_tags['day'] = df_tags['f_time_tag'].dt.day

In [95]:
df_tags_clean = df_tags.drop(['timestamp','f_time_tag'],axis = 1)

In [102]:
df_tags.head()

,userId,movieId,tag,timestamp,f_time_tag,year,month,day
0,3,260,classic,1439472355,2015-08-13 13:25:55,2015,8,13
1,3,260,sci-fi,1439472256,2015-08-13 13:24:16,2015,8,13
2,4,1732,dark comedy,1573943598,2019-11-16 22:33:18,2019,11,16
3,4,1732,great dialogue,1573943604,2019-11-16 22:33:24,2019,11,16
4,4,7569,so bad it's good,1573943455,2019-11-16 22:30:55,2019,11,16

In [89]:
df_train.head()
#working on datetime 
df_train['f_time'] = pd.to_datetime(df_train['f_time'])

# Split into year, month, and day columns
df_train['year'] = df_train['f_time'].dt.year
df_train['month'] = df_train['f_time'].dt.month
df_train['day'] = df_train['f_time'].dt.day

In [92]:
df_train_clean=df_train.drop(['timestamp','f_time'],axis = 1)
df_train_clean

          userId  movieId  rating  year  month  day
0           5163    57669     4.0  2018      2   11
1         106343        5     4.5  2008      3   23
2         146790     5459     5.0  2004      2    8
3         106362    32296     2.0  2015      2    4
4           9041      366     3.0  1996      5   29
...          ...      ...     ...   ...    ...  ...
10000033  136395    99114     5.0  2018      3   16
10000034  140078      553     3.0  2001     10    8
10000035  154807    56782     4.0  2008     11   26
10000036   85805      327     4.0  2016     11   23
10000037  139457     1009     4.0  1997      3   21

[10000038 rows x 6 columns]

In [97]:
df_genome_tags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [58]:
#performing natural languange processing for title string to create plot keywords for the null values 
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.probability import FreqDist

In [59]:
# Tokenization
selected_rows['tokens'] = selected_rows['title_string'].apply(lambda x: word_tokenize(x.lower()))

# Stopwords Removal
stop_words = set(stopwords.words('english'))
selected_rows['token'] = selected_rows['tokens'].apply(lambda x: [word for word in x if word.isalnum() and word not in stop_words])

# Stemming
#porter = PorterStemmer()
#selected_rows['stemmed_tokens'] = selected_rows['tokens'].apply(lambda x: [porter.stem(word) for word in x])

# Frequency Distribution
#all_tokens = [token for sublist in selected_rows['stemmed_tokens'] for token in sublist]
#freq_dist = FreqDist(all_tokens)

C:\Users\hp\AppData\Local\Temp\ipykernel_13972\2685541019.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_rows['tokens'] = selected_rows['title_string'].apply(lambda x: word_tokenize(x.lower()))
C:\Users\hp\AppData\Local\Temp\ipykernel_13972\2685541019.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_rows['token'] = selected_rows['tokens'].apply(lambda x: [word for word in x if word.isalnum() and word not in stop_words])

In [60]:
selected_rows

,movieId,title,genres,clean_genres,title_year,title_string,tokens,token
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,Crime Drama,1995,Shanghai Triad Yao a yao yao dao waipo qiao,"[shanghai, triad, yao, a, yao, yao, dao, waipo...","[shanghai, triad, yao, yao, yao, dao, waipo, q..."
137,139,Target (1995),Action|Drama,Action Drama,1995,Target,[target],[target]
291,295,"Pyromaniac's Love Story, A (1995)",Comedy|Romance,Comedy Romance,1995,"Pyromaniac's Love Story, A","[pyromaniac, 's, love, story, ,, a]","[pyromaniac, love, story]"
596,604,Criminals (1996),Documentary,Documentary,1996,Criminals,[criminals],[criminals]
614,623,"Modern Affair, A (1995)",Romance,Romance,1995,"Modern Affair, A","[modern, affair, ,, a]","[modern, affair]"
...,...,...,...,...,...,...,...,...
28185,131118,Siegfried (2005),Comedy,Comedy,2005,Siegfried,[siegfried],[siegfried]
28187,131122,Love Exposure (2007),Action|Comedy|Drama|Romance,Action Comedy Drama Romance,2007,Love Exposure,"[love, exposure]","[love, exposure]"
28207,131162,Por un puñado de besos (2014),Drama|Romance,Drama Romance,2014,Por un puñado de besos,"[por, un, puñado, de, besos]","[por, un, puñado, de, besos]"
28212,131172,Closed Curtain (2013),(no genres listed),(no genres listed),2013,Closed Curtain,"[closed, curtain]","[closed, curtain]"
28238,131231,Standby (2014),Comedy|Romance,Comedy Romance,2014,Standby,[standby],[standby]

In [ ]:
df_imdb_data[df_imdb_data.isin(['Matthias Schweighöfer']).any(axis=1)]

In [ ]:
# Count the number of rows with more than 2 null values

In [ ]:


#nan_val =df_imdb_data['title_cast'].isnull()
#nan_val

<a id="three"></a>
## 6. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [ ]:
# look at data statistics

In [ ]:
# plot relevant feature interactions

In [ ]:
# evaluate correlation

In [ ]:
# have a look at feature distributions

<a id="four"></a>
## 7. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [ ]:
# remove missing values/ features

In [ ]:
# create new features

In [ ]:
# engineer existing features

<a id="five"></a>
## 8. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [ ]:
# split data

In [ ]:
# create targets and features dataset

In [ ]:
# create one or more ML models

In [ ]:
# evaluate one or more ML models

<a id="six"></a>
## 9. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 10. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic

<a id="seven"></a>
## 11. Conclusion
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Conclusion ⚡ |
| :--------------------------- |
| In this section, you are required to conclude your findings and the project as a whole. |

---

In [ ]:
# Conclusion