# Unsupervised Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**Team NM4**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

Team Members
1. Bakwe Chokoe
2. Hlawulekani Rikhotso
3. Tshepiso Ngwato
4. Benson Kamau
5. Nozipho
6. Mutondi Tshivhase
### Predict Overview

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Introduction</a>

<a href=#two>2. Problem Statement</a>

<a href=#three>3. Importing Packages</a>

<a href=#four>4. Loading Data</a>

<a href=#five>5. Pre-processing</a>

<a href=#six>6. Exploratory Data Analysis (EDA)</a>

<a href=#seven>7. Data Engineering</a>

<a href=#eight>8. Modeling</a>

<a href=#nine>9. Model Performance</a>

<a href=#ten>10. Model Explanations</a>

<a href=#eleven>11. Conclusion</a>

 <a id="one"></a>
## **1. Introduction**

In [ ]:
# Write the introduction

 <a id="one"></a>
## 2. Problem Statement
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Problem Statement ⚡ |
| :--------------------------- |
| In this section you are required to introduce and elaborate on the problem statement or challenge you are required to solve. |

In [ ]:
# Discuss the problem statement

 <a id="one"></a>
## 3. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [4]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Libraries for data preparation and model building
#import *

# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

<a id="two"></a>
## 4. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

In [6]:
# load the dataframe from the given dataset
df_train =pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\train.csv')
df_genome_tags=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\genome_tags.csv')
df_movies=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\movies.csv')
df_links=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\links.csv')
df_genome_scores=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\genome_scores.csv')
df_tags=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\tags.csv')
df_imdb_data=pd.read_csv\
(r'C:\Users\hp\Documents\GitHub\unsurpervised_data\ea-movie-recommendation-predict-2023-2024\imdb_data.csv')

<a id="two"></a>
## 5. Pre-processing
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

### Viewing the shape of the dataframes

Here we are just having a view of the shape of varoius dataframes in our dataset i.e.
 - df_imdb_data
 - df_genome_tags
 - df_genome_scores
 - df_train
 - df_links
 - df_movies
 - df_tags

In [7]:
# Pre-process the data
df_train.shape

(10000038, 4)

In [8]:
df_genome_tags.shape

(1128, 2)

In [9]:
df_genome_scores.shape

(15584448, 3)

In [10]:
df_tags.shape

(1093360, 4)

In [11]:
df_links.shape

(62423, 3)

In [12]:
df_movies.shape

(62423, 3)

In [13]:
df_imdb_data.shape

(27278, 6)

### Checking for null values in the various dataframes in the given  dataset

Here in this sections we will be checking for `null values ` in the various dataframes in the data set i.e.
 - df_imdb_data
 - df_genome_tags
 - df_genome_scores
 - df_train
 - df_links
 - df_movies
 - df_tags

In [14]:
#checking for null in imdb dataframe
df_imdb_data.isnull().sum()

movieId              0
title_cast       10068
director          9874
runtime          12089
budget           19372
plot_keywords    11078
dtype: int64

In [15]:
#checking for null in genome tags dataframe
df_genome_tags.isnull().sum()

tagId    0
tag      0
dtype: int64

In [16]:
#checking for null in genome score dataframe
df_genome_scores.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [17]:
#checking for null in train dataframe
df_train.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [18]:
#checking for null in links dataframe
df_links.isnull().sum()

movieId      0
imdbId       0
tmdbId     107
dtype: int64

In [19]:
#checking for null in tags dataframe
df_tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [20]:
#checking for null in movies dataframe
df_movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [21]:
df_tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [22]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
df_genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [24]:
df_genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [25]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [26]:
df_train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [27]:
df_imdb_data.head()

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion

In [81]:
from datetime import datetime
import re
#function for formating time
def formattime(t):
    time=datetime.utcfromtimestamp(t).strftime('%Y-%m-%d %H:%M:%S')
    return time
 #function extracting number   
def extract_number(n):
    number = "".join([ch for ch in n if ch.isdigit()])
    return number
def extract_string(n):
    string = "".join([ch for ch in n if not ch.isdigit()])
    return string

def extract_special_char(n):
    string = "".join([ch for ch in n if ch.isalnum()])
    return string

In [82]:

df_movies['title_year']=df_movies['title'].apply(extract_number)
df_movies['title_string']=df_movies['title'].apply(extract_string)

In [83]:
df_movies['title_string_clean']=df_movies['title_string'].apply(extract_special_char)

In [56]:
df_train['f_time']=df_train['timestamp'].apply(formattime)

In [84]:
df_movies.head()

,movieId,title,genres,title_year,title_string,title_string_clean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story (),ToyStory
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Jumanji (),Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men (),GrumpierOldMen
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,Waiting to Exhale (),WaitingtoExhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II (),FatheroftheBridePartII

In [31]:
df_tags['f_time_tag']=df_tags['timestamp'].apply(formattime)

In [86]:
# drop null values in tags and links dataframe
df_tags=df_tags.dropna()
df_links=df_links.dropna()

In [88]:
df_imdb_data.isnull().sum()

movieId              0
title_cast       10068
director          9874
runtime          12089
budget           19372
plot_keywords    11078
dtype: int64

In [92]:
# we will drop the columns with more than 50% null values in the imdb_data dataframe

val=df_imdb_data[df_imdb_data.columns[0]].count()
for col in df_imdb_data.columns:
    na =df_imdb_data[col].isnull().sum()
    per_na=round(na/val*100,2)
    print(f"The percent of null values in {col} is {per_na}")

The percent of null values in movieId is 0.0
The percent of null values in title_cast is 36.91
The percent of null values in director is 36.2
The percent of null values in runtime is 44.32
The percent of null values in budget is 71.02
The percent of null values in plot_keywords is 40.61

In [93]:
df_imdb_data=df_imdb_data.drop('budget', axis=1)

In [94]:
df_imdb_data = df_imdb_data.replace(' ', np.nan)                   # to get rid of empty values
nan_values = df_imdb_data[df_imdb_data.isna().any(axis=1)]         # to get all rows with Na

nan_values

,movieId,title_cast,director,runtime,plot_keywords
29,30,Li Gong|Baotian Li|Xiaoxiao Wang|Xuejian Li|Ch...,Feiyu Bi,NaN,NaN
76,77,Nico|Tina Aumont|Christian Päffgen|Edith Boulo...,Susanne Ofteringer,NaN,f rated|female musician|singer songwriter|inte...
107,109,Raymond J. Barry|Rustam Branaman|Jennifer MacD...,James Bruce,NaN,topless bar|topless|stripper|jeans
109,111,NaN,NaN,NaN,NaN
117,119,Andy Garcia|Alan Arkin|Rachel Ticotin|Joe Pant...,Andrew Davis,NaN,lawyer|estate|twin brother|brother brother rel...
...,...,...,...,...,...
27261,131172,Kambuzia Partovi|Maryam Moghadam|Jafar Panahi|...,Jafar Panahi,106.0,NaN
27265,131231,Jessica Paré|Brian Gleeson|Stanley Townsend|Fr...,Rob Burke,90.0,NaN
27267,131239,Elmar Wepper|Mercan-Fatima Türköglu|Ivan Ander...,Christian Zübert,NaN,taxi|girl alone|taxi driver|mutual understanding
27270,131248,Patrick Dempsey|Mandy Moore|Jeremy Suarez|Rick...,Rich Burns,NaN,bear|finale|series finale|hate
27271,131250,Daniel Brühl|Jasmin Schwiers|Niels-Bruno Schmi...,Marco Petry,NaN,hot|sex scene

In [106]:
#checking the number of null values in each row
row_na=nan_values.isnull().sum(axis=1)
row_na

Series([], dtype: int64)

In [103]:
  

max_null_values = 2
rows_to_remove = []
for index, row in nan_values.iterrows():
    if row.isnull().sum() > max_null_values:
        rows_to_remove.append(index)

df_cleaned = nan_values.drop(rows_to_remove)

In [105]:
df_cleaned

Empty DataFrame
Columns: [movieId, title_cast, director, runtime, plot_keywords]
Index: []

<a id="three"></a>
## 6. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [ ]:
# look at data statistics

In [ ]:
# plot relevant feature interactions

In [ ]:
# evaluate correlation

In [ ]:
# have a look at feature distributions

<a id="four"></a>
## 7. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [ ]:
# remove missing values/ features

In [ ]:
# create new features

In [ ]:
# engineer existing features

<a id="five"></a>
## 8. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [ ]:
# split data

In [ ]:
# create targets and features dataset

In [ ]:
# create one or more ML models

In [ ]:
# evaluate one or more ML models

<a id="six"></a>
## 9. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 10. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic

<a id="seven"></a>
## 11. Conclusion
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Conclusion ⚡ |
| :--------------------------- |
| In this section, you are required to conclude your findings and the project as a whole. |

---

In [ ]:
# Conclusion